# PostgreSQL
POSTGRES_USER=sweetboard_user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=sweetboard_db
POSTGRES_HOST=db
POSTGRES_HOST_PORT=5432
POSTGRES_INTERNAL_PORT=5432

# API
API_HOST_PORT=8000
API_INTERNAL_PORT=8000

# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001